:root {
    --color_primario_suave: #7ed957;
    --color_segundario_suave: #a7dce2;
    --color_primario: #0097b2;
    --color_blanco: #fff;
    --color_negro: #333;
    --altura_header: 80px;
    --padding_left_right: 2rem;
    --ancho_maximo: 1200px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../resources/pictures/Background.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-color: #333; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


img {
    width: 100px;
    height: 100px;
    margin-top: -15px;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

.header {
    height: var(--altura_header);
    background: linear-gradient(90deg, var(--color_primario), var(--color_primario_suave));
}

.navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 var(--padding_left_right);
}

.name1 {
    color: var(--color_blanco);
    font-size: 2rem;
}

.name2 {
    color: var(--color_blanco);
    font-size: 1.5rem;
}


.list_icon {
    color: var(--color_blanco);
    cursor: pointer;
}

.ul_links {
    width: 100%;
    /* background-color: var(--color_primario_suave); */
    position: absolute;
    top: var(--altura_header);
    left: 0;
    height: 0;
    overflow: hidden;
    /* height: calc(100vh - var(--altura_header)); */
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    transition: all .3s;
}

.li_links {
    text-align: left;
}

.link {
    display: flex;
    flex-direction: row;
    font-size: 3em;
    color: var(--color_negro);
    font-weight: bold;
    padding: 10px;
    border: solid 4px var(--color_primario);
    border-radius: 20px;
    background-color: var(--color_segundario_suave);
}
